.home-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  
}
.cart-summary {

background-color: rgb(221, 208, 208);
/* border: 1px solid whitesmoke; */
box-shadow: 2px 2px 4px rgb(160, 55, 55);
;
}


/* .left-side {

  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto; */
  /* justify-content: center;
  align-items: center; */
  /* padding: 15px; */
 
/* } */
.header-container {
  margin-left: 25px;
  margin-top: 15px;
}
.activities-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 15px;
}
.header-content {
  display: flex;

}
.header-content h2 {
    color: #4e5b5c;
}

.header-content img {
  height: 60px;
  width: 80px;
}

@media only screen and (max-width: 600px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr;
  }
.header-container {
  margin-left: 130px;
}
   /* .activities-container {
     grid-template-columns: 1fr;
     margin: 0 auto;
     order: 0;
   } */
   .cart-summary {
     display: grid;
     grid-template-columns: 1fr;
    
   }
   .activities-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 60px;
}
.cart-summary {
margin-top: 50px;
border: 2px solid gray;
padding: 15px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

}
/* iPads (portrait) ----------- */
@media (min-width: 768px) and (max-width: 1024px) {
  
 .home-container {
    display: grid;
    grid-template-columns: 1fr;
  }
.header-container {
  margin-left: 50px;
}
   /* .activities-container {
     grid-template-columns: 1fr;
     margin: 0 auto;
     order: 0;
   } */
   .cart-summary {
     display: grid;
     /* grid-template-columns: 1fr 1fr; */
    
   }
   .activities-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.cart-summary {
margin-top: 50px;
border: 2px solid gray;
padding: 15px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
}

